<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav')%>

    <h1>Full Menu</h1>

    <%const itemMenu = (index)=>{%>
        <div>
            <h4>Name:<%= menu[index].name%></h4>
            <p>Price: <%= menu[index].price%></p>
            <p>Rating: <%= menu[index].rating%></p>
            <p>Details: <%= menu[index].details%></p>
        </div>
    <%}%>


    <h2> Mains </h2>
    <% menu.forEach((item,index) => {%>
        <%if(item.category==="mains"){%>
            <%= itemMenu(index)%>
        <%}%>
    <%});%>
   
    <h2> Desserts </h2>
    <% menu.forEach((item,index) => {%>
        <%if(item.category==="desserts"){%>
            <%= itemMenu(index)%>
        <%}%>
    <%});%>

    <h2> Sides </h2>
    <% menu.forEach((item,index) => {%>
        <%if(item.category==="sides"){%>
            <%= itemMenu(index)%>
        <%}%>
    <%});%>

    

</body>
</html>