<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav')%>

    <h1>Full Menu</h1>

    <%const itemMenu = (index,category)=>{%>
        <div>
            <h4>Name:<%= menuByCategory[category][index].name%></h4>
            <p>Price: <%= menuByCategory[category][index].price%></p>
            <p>Rating: <%= menuByCategory[category][index].rating%></p>
            <p>Details: <%= menuByCategory[category][index].details%></p>
        </div>
    <%}%>


    <% Object.keys(menuByCategory).forEach((category)=>{%>
        <h2><%= category%></h2>
        <%menuByCategory[category].forEach((item, index)=> {%>
            <%=itemMenu(index, category)%>
        <%});%>
    <%})%>

    

</body>
</html>